body {
    padding-top: 4.5rem;
}

.search-area {
    padding: 50px 0rem 1rem;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.logout-button {
    margin-right: 5px;
}

#results {
    margin-bottom: 1rem;
}